body{
margin: 0;
padding: 0;

background-image: url("../bgimage.jpg");
background-repeat: no-repeat;
background-size: cover;
}
nav {
	opacity: 0.5;
	background-color: #6a6767;
	color: white;
	padding: 20px;
	border-radius: 15px;
	box-shadow: -1px -2px 21px -6px rgba(0,0,0,0.74);
	
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: right;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: large;
	margin-right: 15px;
}
nav li a:hover{

	background-color: white;
	color: black;
	border-radius: 15px;
	
}

h1 {
	text-align: center;
}

.container {
	margin: 0;
	padding: 0;
}

form {
	left: 10%;

	position: relative;
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
	

}

label {
	position: relative;
	margin-top: 10px;
	font-size: large;
	color: black;
	font-weight: bolder;
	
}

input[type="text"] {
	position: relative;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 15px;
	border: none;
	border: 1px white;
	width: 200px;
	
}
input:hover{
	
	border-radius: 25px;
	border: 1px solid black;
}

button {
	margin-top: 10px;
	padding: 5px;
	border-radius: 15px;
	border: none;
	background-color: black;
	color: white;
	font-size: 20px;
	cursor: pointer;
	width: 200px;
}
button:hover{
	background-color: white;
	border-radius: 25px;
	color: black;
}

#output {
	margin-top: 20px;
	padding: 10px;
	border: 0.5px solid #333;
	border-radius: 25px;
	text-align: center;
	color: black;
	font-size: 20px;
	background-color: snow;
	width: 200px;

}
