<!DOCTYPE html>
<html>
<head>
	<title>DiabetesDetection</title>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='main.css') }}"/>
	
</head>
<body>
	<nav id="nav_bar">
		<ul>
            <li><a href="#">Premium</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">About Us</a></li>
            <li><a href="#">Login</a></li>
			<li><a href="#">Home</a></li>

		</ul>
	</nav>
			
		<form id="my-form" >
			<div>
				<label for="input1">Glucose Level:</label><br>
				<input type="text" placeholder="121" name="Glucose"><br>
			</div>
			
			<div>
				<label for="input2">BloodPressure:</label><br>
				<input type="text" placeholder="72" name="BloodPressure"><br>
			</div>

			<div>
				<label for="input3">SkinThickness	:</label><br>
				<input type="text" placeholder="26" name="SkinThickness"><br>
			</div>

			<div>
				<label for="input4">Insulin Level:</label><br>
				<input type="text" placeholder="118" name="Insulin"><br>
			</div>

			<div>
				<label for="input5">BMI:</label><br>
				<input type="text" placeholder="32" name="BMI"><br>

			</div>

			<div>
				<label for="input6">DiabetesPedigreeFunction:</label><br>
				<input type="text" placeholder="0.47" name="DiabetesPedigreeFunction"><br>

			</div>

			<div>
				<label for="input7">Age:</label><br>
				<input type="text" placeholder="33" name="Age"><br>

			</div>

			<div>
				<label for="input7">No. of Pregnencies:</label><br>
				<input type="text" placeholder="3" name="Pregnancies"><br>

			</div>


			<div class="but">
				<button type="submit" id="submit-btn">Submit</button>
			</div>
		</form>

		<p id="output"></p>

	<script src="{{ url_for('static',filename='main.js') }}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>
</html>
